## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio cache/options
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## User-specific files
*.rsuser

## Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

## Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

## Caches
*.cache
*.cachefile
*.VC.db
*.VC.VC.opendb

## Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

## ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

## JetBrains Rider
.idea/
*.sln.iml

## NuGet Packages
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## Windows image file caches
Thumbs.db
ehthumbs.db

## Folder config file
Desktop.ini

## Recycle Bin
$RECYCLE.BIN/

## VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## macOS
.DS_Store
.AppleDouble
.LSOverride

## Application-specific
*.jsonl
#Config/agent_config.json
sysmon_events.jsonl
*_events_normalized_ecs.jsonl
B_events_normalized_ecs.jsonl

## Temporary files
*.swp
*~
.#*
